<div class="jumbotron text-center mt-5">
  <h1 class="display-3">
    {{title}}
  </h1>
  <p class="lead">
    This is the microbiology data portal, a tool for accessing large anonymous microbiology datasets. Access to some datasets is available to permitted users only, please click the register button below to request access, or click the login button if you have an existing account.
  </p>
  <a href="/users/register" class="btn btn-primary btn-block lg">Register</a>
  <a href="/users/login" class="btn btn-primary btn-block lg">Login</a>
</div>
<div class="container">
  <div class="col-6">
    <div class="card">
  <img class="card-img-top" src="public/img/vitek-card.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Vitek AST Dataset</h4>
    <p class="card-text">
      Anonymised dataset of antimicrobial sensitivity testing results as obtained from the Vitek 2 AST platform. Data consists
      of 10 years of bacterial isolate reports from the Bristol PHE microbiology laboratory.
    </p>
    <a href="/routes/vitek" class="btn btn-primary">Search this dataset</a>
  </div>
</div>
  </div>
</div>