<div class="jumbotron text-center mt-5">
  <h1 class="display-3">
    {{title}}
  </h1>
  <p class="lead">
    This is the microbiology data portal, a tool for accessing large anonymous microbiology datasets. Access to some datasets is available to permitted users only, and requires login for access.
  </p>
  <a href="/users/login" class="btn btn-primary btn-block lg mb-3">Login</a>
  <p class="text-center">Don't have an account? Click <a href="users/register">here</a> to request access.</p>
</div>
<div class="container">
  <div class="col-6">
    <div class="card">
      <img class="card-img-top" src="img/vitek-card.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Vitek AST Dataset</h4>
          <p class="card-text">
            Anonymised dataset of antimicrobial sensitivity testing results as obtained from the Vitek 2 AST platform. Data consists
            of 10 years of bacterial isolate reports from the Bristol PHE microbiology laboratory.
          </p>
          <a href="/vitek" class="btn btn-primary">Search this dataset</a>
      </div>
    </div>
  </div>
</div>