<div class="jumbotron text-center mt-5">
  <h2 class="display-3">
    Vitek Antimicrobial Dataset
  </h2>
  <p>The PHE Microbiology laboratory in Bristol, UK was an early adopter of automated antimicrobial sensitivity testing. For almost 10 years they have been using a platform Biomerieux Vitek. Using an adapted broth dilution method, the Vitek determines a bacterial isolates mean inhibitory concentration (MIC) for a range of antibiotics, and the uses a suite of software called the "Advanced Expert System" to compare the MIC profile to that of known phenotypes. The Vitek can then determine the sensitivity status of that bacterial isolate for each antibiotic, as well as identifying certain resistance mechanisms that might be present.</p>
  <p> The reports from the Vitek platform have been regularly archived onto CD-ROMs at the lab in Bristol, and they have accumulated almost 10 years of data. The isolate report information is contained in XML files that can be interpreted by the Vitek software. With these XML files with have populated a noSQL database that can be accessed here, via this web application. The broader intention being an application that medical and research professionals can access to acquire either summary information about the changes in MIC values over time, or large datasets for research purposes.</p>
</div>
<div class="container">
  <h3 class="text-center">
    Build your search query
  </h3>
  <div class="row mb-3">
    <div class="col-sm-4">
      <form action="">
        <div class="card h-100">
          <div class="card-body">
            <img class="mb-2" src="img/bug-search.png">
            <h4 class="card-title">Search by Organism</h4>
            <p class="card-text">
              Use the search box below to add bacterial organisms of interest to your search.
            </p>
            <div class="input-group add-on">
              <input class="form-control" placeholder="Search" name="srch-bug" type="text">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fas fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <form action="">
        <div class="card h-100">
          <div class="card-body">
            <img class="mb-2" src="img/drug.png">
            <h4 class="card-title">Search by Antimicrobial</h4>
            <p class="card-text">
              Use the search box below to add antimicrobials of interest to your search.
            </p>
            <div class="input-group add-on">
              <input class="form-control" placeholder="Search" name="srch-drug" type="text">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fas fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <form>
        <div class="card h-100">
          <div class="card-body">
            <img class="mb-2" src="img/calendar.png">
            <h4 class="card-title">Search Date</h4>
            <p class="card-text">
              Add date ranges to your search criteria.
            </p>
            <label for="start-date">Start date</label>
            <div class="input-group add-on">
              <input class="form-control" name="start-date" type="date">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fas fa-plus"></i></button>
              </div>
            </div>
            <label for="end-date mt-1">End date</label>
            <div class="input-group add-on">
              <input class="form-control" name="end-date" type="date">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fas fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <h3>Advanced Search</h3>
  <p>The Vitek dataset is contained in a noSQL database, where each report is contained in a document object consisting of key:value pairs. Use the search box below to search for specific values for report keys. A detailed list of searchable keys can be found <a href="#">here.</a></p>
  <form action="">
    <div class="input-group add-on">
      <input class="form-control" placeholder="Key with object notation : Query" name="srch-drug" type="text">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fas fa-plus"></i></button>
      </div>
    </div>
  </form>
</div>
<div class="jumbotron mt-5 mb-5">
  <h3>Search Query</h3>
  <div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <!--Here we access the global variable defined in app.js-->
    Organism: Staphylococcus aurerus
  </div>
  <div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <!--Here we access the global variable defined in app.js-->
    Antimicrobial: Ciprofloxacin
  </div>
  <button type="button" class="btn btn-dark btn-block">Search</button>
</div>
<div class="container-fluid" id="results">
  <hr class="mb-2">
  <h2 class="text-center">Results</h2>
  <hr class="mb-2">
  <div class="summary">
      <h3>Staphylococcus aureus</h3>
      <h4>Ciprofloxacin</h4>
      <div class="row">
        <div class="col-6">
          <div class="lead text-center mb-2">Mean MIC</div>
            <img src="img/example_figs/mean_mic.png" class="img-fluid float-center" alt="mean_mic">
        </div>
        <div class="col-6">
          <form action="">
            <div class="dropdown text-center">
              <label for="chooseYear" class="lead text-center mr-4">MIC distribution</label>
              <button class="btn btn-secondary dropdown-toggle mb-2" type="button" name="chooseYear" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Year
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">2007</a>
                <a class="dropdown-item" href="#">2008</a>
                <a class="dropdown-item" href="#">2009</a>
                <a class="dropdown-item" href="#">2010</a>
                <a class="dropdown-item" href="#">2011</a>
                <a class="dropdown-item" href="#">2012</a>
                <a class="dropdown-item" href="#">2013</a>
                <a class="dropdown-item" href="#">2014</a>
                <a class="dropdown-item" href="#">2015</a>
                <a class="dropdown-item" href="#">2016</a>
                <a class="dropdown-item" href="#">2017</a>
              </div>
              <img src="img/example_figs/hist/2007.png" class="img-fluid float-center" alt="2007_hist">
            </div>
          </form>
        </div>
      </div>
  </div>
  <div class="jumbotron mt-5 mb-5" id="download_results">
     <h2 class="text-center">Download Results</h2>
    <div class="row">
      <div class="col-6">
        <h1 class="text-center"><i class="far fa-file-excel"></i></h1>
        <p class="text-center">Download as .xlsx file</p>
      </div>
      <div class="col-6">
        <h1 class="text-center"><i class="far fa-file"></i></h1>
        <p class="text-center">Download as .csv file</p>
      </div>
    </div>
  </div>
</div>
